*{
  margin: 0;
  padding: 0;
}

.header-section{
  display: flex;
  flex-direction: row;
  gap: 12px;

}

nav{
  display: flex;
  gap: 12px;
}

.logo{
  display: flex;
}

.nav-bar{
  display: flex;
  gap: 12px;
}

.nav-bar > ul {
  display: flex;
  gap: 12px;
  list-style: none;
}